{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
{% if user.email == 'admin@gmail.com'%}
<br>
<form method="POST">
    <h3 align="center">Make a Post</h3>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" id="title" name="title" placeholder="Enter title">
    </div>
    <br>
    <textarea name="text" id="text" class="form-control" placeholder="Enter text"></textarea>
    <br>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="price" class="form-control" id="price" name="price" placeholder="Enter price">
    </div>
    <div class="form-group">
        <label for="img_path_name">Img path name</label>
        <input type="img_path_name" class="form-control" id="img_path_name" name="img_path_name" placeholder="Enter image path name">
    </div>
    <br>
    <div align="center">
    <button type="submit" class="btn btn-primary btn-lg">Post</button>
    </div>

</form>

<br>
<div align="center">
    <a href="/admin_page">
        <button class="btn btn-lg btn-secondary">Back to admin</button>
    </a>
</div>
{% endif %}
{% endblock %}
